<p>{{ feed.title }}</p>
{% if entry_list %}
  <ul>
  {% for entry in entry_list %}	
    <li>
      <p>{{ entry.title }}</p>
      <p>{{ entry.description }}</p>
      <form action="{% url 'reader:read' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="url" value="{{ entry.link }}" />
          <input type="submit" value="Read more" />
      </form>
    </li>
  {% endfor %}
  </ul>
{% endif %}
