{% loadstatic %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css" />
  <title>{% block title %}RSS Readability{% endblock %}</title>
</head>

<body>
  <header>
    {% block header %}{% endblock %}
  </header>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
